<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/fontawesome")
</head>
<body>

    <div id="page">
        <header>
            <div class="header" role="banner">
                <img class="logo" src="~/Content/images/logo.png" alt="@PasswordChangeConfigSection.Configuration.Branding.CompanyName"/>
                <h1 class="title">@PasswordChangeConfigSection.Configuration.Branding.AppName</h1>
            </div>
        </header>

        <div class="content">
            @RenderSection("Instructions", required: false)
            @RenderBody()
            @RenderSection("FurtherNotes", required: false)
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
